<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <title><%= format_title %></title>

  <style type="text/css">
    body {
      background: #fff;
      color: #000;
      width: 384px;
      padding: 0;
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: 20px;
    }
  </style>

</head>
<body>
  <h1>Gmail</h1>

  <% @mailboxes.each do |mb| %>
    <h2><%= mb[:name] %> - <%= mb[:metric] %></h2>

    <p>
      <% mb[:history].each do |num| %>
        <%= num %>
      <% end %>
    </p>


  <% end %>

</body>
</html>
