		<form method="post" action="<%= url("/setup/mailboxes/") %>">
		  
		  <p class="config-intro">You can choose up to <%= settings.max_mailboxes %> Gmail mailboxes/labels to appear on your Little Printer publication.</p>

		  <p>For each one you can choose a different statistic to monitor. You can choose the same mailbox or label multiple times, but with different statistics.</p>


		  <p>
		    <span class="label">&nbsp;</span><span class="input"><input type="submit" value="Submit" class="config-submit-button" /></span>
		  </p>
		</form>
